@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
body {
    background-color: #201010;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.header {
    height: 100px;
    width: 100%;
    background-color: #BD842E;
}

.header img {
    display: block;
    float: left;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    margin-right: 10px;
    width: 67px;
    height: 67px;
}

div .company-name {
    text-align: center;
    color: black;
    margin-left: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 10px;
    display: block;
    float: left;
    width: auto;
    height: 67px;
    font-size: 24px;
    line-height: 29px;
    font-family: 'Marmelad', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-shadow: #000000 1px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    padding-top: 10px;
}

.header-links {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    height: 67px;
    width: auto;
}

.header-phone {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    height: 67px;
    width: auto;
    text-align: center;
}

ul.hr {
    display: block;
    float: left;
    text-align: center;
}

ul.hr li {
    display: inline;
    /* Отображать как строчный элемент */
    /* Отступ слева */
    text-align: center;
    color: #000000;
    padding-right: 50px;
    font-family: 'Marmelad', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-shadow: #000000 5px;
    float: left;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    /* Рамка вокруг текста */
}

ul.vr {
    float: left;
    list-style: none;
    margin: 0;
}

ul.vr li {
    display: block;
    text-align: center;
    font-family: 'Marmelad', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-shadow: #000000 5px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.phone {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    height: 67px;
    width: auto;
    text-align: center;
    padding-top: 20px;
    font-family: 'Marmelad', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-shadow: #000000 5px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.shoping-cart {
    position: relative;
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 10px;
    height: 50px;
    width: auto;
    bottom: 15px;
}


/*END OF SECTION HEADER*/

.body {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.textbox {
    display: block;
    width: auto;
    height: auto;
    color: #BD842E;
    text-align: center;
    justify-content: center;
}

.item {
    display: block;
    width: 340px;
    height: 360px;
    text-align: center;
    color: #BD842E;
    font-family: 'Marmelad', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    background: rgba(0, 0, 0, 0.13);
    float: initial;
    align-items: center;
    flex-wrap: wrap;
}

.item:nth-child(n+6) {
    display: block;
    width: 310px;
    height: 330px;
    text-align: center;
    color: #BD842E;
    font-family: 'Marmelad', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    background: rgba(0, 0, 0, 0.13);
    float: initial;
    margin-right: 30px;
    margin-top: 30px;
}

.item img {
    height: 211px;
    width: 310px;
}

.item.title {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.item.price {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.item.description {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.buttons {
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-minus {
    display: block;
    background-color: #BD842E;
    border: none;
    width: 21px;
    height: 20px;
    float: left;
    margin-left: 40%;
}

.button-plus {
    display: block;
    background-color: #BD842E;
    border: none;
    width: 21px;
    height: 20px;
    float: left;
    flex-direction: row;
}

.button-add-to-cart {
    display: block;
    background-color: #BD842E;
    border: none;
    width: auto;
    height: 20px;
    float: right;
}

.field-value {
    display: block;
    background-color: #FFFFFF;
    border: none;
    width: 20px;
    height: 18px;
    float: left;
    text-align: center;
}


/*END OF GOODS*/

div h2.color-text {
    display: block;
    margin-right: 50%;
    margin-left: 50%;
    font-size: 48px;
    color: #BD842E;
    font-family: 'Marmelad', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-shadow: #000000 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    float: left;
}

.footer {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 0;
    left: 0;
    font-size: 24px;
    background-color: #BD842E;
    font-family: 'Marmelad', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-shadow: #000000 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.order-button {
    display: flexbox;
    flex-direction: column;
    font-size: 24px;
    color: #BD842E;
    font-family: 'Marmelad', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-shadow: #000000 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    float: left;
}

div.color-text-order {
    display: flexbox;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 24px;
    color: #BD842E;
    font-family: 'Marmelad', sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-shadow: #000000 1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    float: left;
}